.button {
  font: inherit;
  border: 1px solid #a8d0db;
  background: #2b4570;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-radius: 6px;
  position: sticky;
  justify-content: center;
  align-items: center;
  display: flex;
  left: 800px;
  margin-top: 40px;
  height: 40px;
  width: 120px;
  font-size: 18px;
}

.button:hover,
.button:active {
  background: #a8d0db;
  border-color: #2b4570;
}

.button:focus {
  outline: none;
}
